@model IEnumerable<FutStat.Models.jogador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DS_NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_SOBRENOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_APELIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posicao.DS_POSICAO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DS_NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_SOBRENOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_APELIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_NASCIMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posicao.DS_POSICAO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CD_JOGADOR }) |
            @Html.ActionLink("Details", "Details", new { id=item.CD_JOGADOR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CD_JOGADOR })
        </td>
    </tr>
}

</table>
